
#com_wbadvert h1.alert_msg {
  font-size:18px;
  margin:5px 0;
  padding:5px;
  color:#fff;
  background:#ff0000;
}

#com_wbadvert .adminHeading tr th,
#com_wbadvert .adminheading tr th {
  height:48px;
  vertical-align:top;
  text-align:left;
  font-size:18px;
  padding:10px 0 0 54px;
  width:100%;
  background-position:0 0;
  background-repeat:no-repeat;
}
#com_wbadvert .adminHeading th[class^="icon-"],
#com_wbadvert .adminHeading th[class*=" icon-"] {
}
#com_wbadvert .adminHeading .icon-48-user {
  background-image:url(img/icon_category.png);
}

#com_wbadvert .adminTable tr td >input[type=radio],
#com_wbadvert .adminTable tr td >input[type=checkbox] {
  vertical-align: top;
  display: inline-block;
  height: 24px;
  margin: 5px;
}
#com_wbadvert .adminTable tr td >input[type=radio] + label,
#com_wbadvert .adminTable tr td >input[type=checkbox] + label {
  float: none;
  display: inline-block;
  line-height: 30px;
}
#com_wbadvert .adminTable >tbody >tr >td {
  text-align: left;
}
#com_wbadvert .adminTable >tbody >tr >td:nth-child(1) {
  width: 35%;
  max-width: 45%;
}
#com_wbadvert .adminTable.report >tbody >tr >td:nth-child(1) {
  width: 20%;
  max-width: 45%;
}
#com_wbadvert .adminTable >tbody >tr >td >label {
  vertical-align: top;
  display: inline-block;
}
#com_wbadvert .adminTable >tbody >tr >td >.controls >label {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  line-height: 30px;
}
#com_wbadvert .adminTable >tbody >tr >td >.controls >label >input {
  float: none;
  margin: 5px;
}

#com_wbadvert .adminTable input[name=width],
#com_wbadvert .adminTable input[name=height] {
  max-width: 50px;
}
#com_wbadvert .adminTable select[multiple=true] {
  min-width: 50%;
  height: 120px;
}
#com_wbadvert .adminTable textarea {
  width: 98%;
  height: 120px;
}
